# Python
__pycache__/

# Virtual environments
.venv/

# Editor settings
.vscode/

# Logs and outputs
logs/
output/
output2/
output3/
output4/
output5/

# Optional: inputs (if they’re local/test files)
input/
input2/
input3/
input4/
input5/
system_architecture/
image/
# Exclude specific subfolders and file types from experiments/src
experiments/src/output/
experiments/src/results/
experiments/src/**/*.json
experiments/src/**/*.txt
# Exclude v1 folder from experiments/analysis
experiments/analysis/v1/
# Exclude specific subfolders and files from experiments/dataset
experiments/dataset/data/
experiments/dataset/dataset.csv
experiments/dataset/**/*.log
# Exclude everything in experiments/dataset/src/ except specific files
experiments/dataset/src/**
!experiments/dataset/src/dataset_builder_v2.py
!experiments/dataset/src/sample.csv
!experiments/dataset/src/subsample.csv
source_analysis/__pycache__/
utils/__pycache__/
init/__pycache__/
cli/__pycache__/
config/__pycache__/
llm/__pycache__/
prompting/__pycache__/
coverage/__pycache__/

# Other files
mut_extraction_flowchart.md
external_dependency_extraction_flowchart.md
environment_setup_mermaid.html
build_config_flowchart.md
compile_fix_loop_flowchart.md
runtime_fix_loop_flowchart.md
